section.new-tweet {
  width: 400px;
  background-color: #eee;
  margin: 0 auto 12px auto;
  overflow: auto;
  border: #c7c4c4 solid;
  border-radius: 10px;
  padding: 0 0.5em 0.25em 0.5em;
  display: none;
}

.compose-tweet {
  border-bottom: #244751 1px solid;
  text-align: left;
}

textarea {
  padding: 4px;
  width: 370px;
  height: 70px;
  margin: 0 auto 2px auto;
}

.counter {
  bottom: 0;
  right: 0;
  float: right;
}